@keyframes spin {
	0% {
		transform: rotate(0deg) scale(1) skew(0deg);
		border-radius: 10px;
	}

	50% {
		transform: rotate(270deg) scale(2);
		border-radius: 15px;
	}

	100% {
		transform: rotate(360deg) scale(4) skew(10deg);
		border-radius: 20px;
	}
}

.box {
	height: auto;
	display: flex;
	margin: 100px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}

.lim {
	width: 60px;
	height: 60px;
	background-color: salmon;
	margin: 50px;
	animation: spin 1s infinite linear alternate; /*cubic-bezier(.47,-.44,.49,1.46)*/
}