body {
	font-family: 'Montserrat', sans-serif;

	margin: 0;
	box-sizing: border-box;

	color: #10375c;
}

h1 {
	margin: 0 0 15px;

	text-align: center;
	font-weight: 600;
	text-shadow: 1.5px 2px 0 #10375c55;
}

div {
	max-width: 800px;
	width: 80%;

	margin: auto;

	padding: 50px 40px;
	background-color: #faf4ff;

	box-shadow: 0 0 8px 2px #10375c;
}

p {
	font-size: 24px;
	width: 100%;
	font-weight: 200;
	letter-spacing: normal;
	line-height: 1.4;
	text-align: justify;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	margin: 20px 0 0;
	display: inline-block;
	
	font-size: 22px;
	font-weight: 300;
}

a:link {
	color: #10375c;
}

a:visited {
	color: #10375c;
}

a:active {
	color: #844685;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}